.google {
    display: flex;
}

.google-apps {    
    background-image:url(https://ssl.gstatic.com/gb/images/i2_2ec824b0.png);
    background-position-x:-132px;
    background-position-y:-38px;
    background-size:528px 68px;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    box-sizing:border-box;
    color:rgb(0, 0, 0);
    opacity:0.55;
    width:30px;
}

.google-notifications {
    background-color:rgba(0, 0, 0, 0.55);
    background-image:url("https://ssl.gstatic.com/gb/images/i2_2ec824b0.png");
    background-position-x:-194px;
    background-position-y:-21px;
    background-size:528px 68px;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    height:20px;
    width:20px;
    margin-top: 5px;
}

.google-account {
    background-image: url("https://lh3.googleusercontent.com/-eZDi2lpEwGI/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rcpED44dphYmBptCMTmXO3kog00TQ/s64-c-mo/photo.jpg");
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    display:block;
    height:32px;
    margin-bottom:-1px;
    margin-left:5px;
    margin-right:-1px;
    margin-top:-1px;
    overflow-x:hidden;
    overflow-y:hidden;
    position:relative;
    width:32px;
    z-index:0;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
}

.navbar {
    color:rgba(0, 0, 0, 0.87);
    cursor:pointer;
    display:flex;
    font-family:arial, sans-serif;
    font-size:13px;
    height:auto;
    line-height:24px;
    user-select:none;
    vertical-align:middle;
    white-space:nowrap;
    width:auto;
    margin-left: 80%;
    margin-top: 1%;
}

.nav-link {
    display:inline-block;
    padding: 3px;
}

.logo {
    display: block;
    margin: 0 auto;
    padding-top: 11%;
    height: 92px;
    width: 272px;
}

.search {
    margin: 0 auto;
    width: 80%;
    border: transparent;
    border: none;
    outline: none;
}

.keyboard {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    line-height: 44px;
}

.search-box {
    background: #fff;
    display: flex;
    border-radius: 2px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 30%;
}

.search-button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 3px 16px;
    text-align: center;
}

.search-button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
}

.languages {
    text-align: center;
    padding: 3px;
}

.business {
    display: inline-block;
    margin-top: 40%;
    margin-left: 40px;
    font-size: 18px;
    color: rgba(0,0,0,.54);
}

.business:hover {
    text-decoration: underline;
}

.link {
    padding: 10px;
}

.region {
    margin-left: 10px;
    font-size: 20px;
    color: rgba(0,0,0,.54);
}